* {
    margin: 0;
    padding: 0;
    font-family: "sf pro", Sans-serif
}

.nav-item a {
    color: black;
    font-weight: bold;
}

/* .nav-links button, */
#getInTouch {
    padding: 10px 20px;
    font-size: 1rem;
    border: none;
    color: white;
    background-color: #70aa26;
    display: block;
    white-space: nowrap;
    font-weight: bold;
    /* display:block */
}

.highlighter{
    color:#70aa26
}

.bigHeadings {
    font-size: 50px;
    font-weight: 600;
    word-wrap: wrap;
}

.medium-size-text {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 16px;
}
.small-para{
    font-size: 18px;
   line-height: 1.5;

}


/*Section two  */
.hero {
    background-color: #f4f6fe;
}


.hero-left {
    padding: 20px 200px 20px 55px;
    color: white;
    background-color: #252a4e;
    border-bottom-right-radius: 50px;
}

.hero-right {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100%;
}

.hero-right img {
    /* max-width: 100%; */
    /* height: auto; */
    object-fit: contain;
}

/* section three */

.track-record{
    padding:40px;
    margin:20px
}
.website-card{
    min-height: 200px;
    border-radius: 10px;
    padding:40px 15px
}


/* Section Four */

.web-app-dev{
    /* min-height: 600px; */
    border-radius: 10px;
    padding:40px 15px;
    border-color: 10px solid black;
}
.web-app-dev-img{
height:200px;
display:flex;
justify-content: center;
align-items: center;
    object-fit: contain;
    width:100%
}
.web-app-dev-img img{
    height:100%;
    width:auto;
    
    object-fit: contain;
}

.sticky-left{
    position:sticky;
    top:0;
    align-self: flex-start;
    background-color: white;
}


/* Section five */
.app-dev{
    border-radius: 10px;
    padding:40px 15px;
    border-color: 10px solid black;
}
.app-dev-img{
height:200px;
display:flex;
justify-content: center;
align-items: center;
    object-fit: contain;
    width:100%
}
.app-dev-img img{
    height:100%;
    width:auto;
    
    object-fit: contain;
}


.app-dev p,.app-dev h5{
    color:white
}


/* Section SIx */
.tail-dev{
    border-radius: 10px;
    padding:20px 15px;
    border-color: 10px solid black;
}
.tail-dev-img{
height:200px;
display:flex;
justify-content: center;
align-items: center;
    object-fit: contain;
    width:100%
}
.tail-dev-img img{
    height:100%;
    width:auto;
    
    object-fit: contain;
}

.tail-dev-icon-list-icon{
    display:flex;
justify-content: center;
align-items: center;
}



/* section seven */
.features-heading h2{
    font-size: 3rem;
    font-weight: 600;
}

.features-card {
    background: #f8f9fa;
    border-radius: 10px;
    padding: 30px 20px 80px 20px;
    text-align: center;
    height: 90%;
     border: 1px solid rgba(0, 0, 0, 0.2);
}

.features-card img {
    height: 80px;
    margin-bottom: 15px;
}

.features-card h5 {
    font-weight: 600;
    font-size: 1.2rem;
}


/* section Eight */
.why-us-heading h2{
    font-size: 3rem;
    font-weight: 600;
}
.why-us-card {
    background: #eef4f2;
    border-radius: 10px;
    padding: 30px 20px 80px 20px;
    text-align: center;
    height: 90%;
}

.why-us-card img {
    height: 50px;
    margin-bottom: 15px;
}

.why-us-card h5 {
    font-weight: 600;
    font-size: 1.2rem;
}
























#reviews {
    padding: 80px 0;
}

.client-review {
    margin: 20px 0;
    width: 100%;

}

.client-review img {
    height: 100%;
    width: 100%;
    object-fit: cover;

}

.blog-heading {
    padding: 60px 20px 40px 20px;
    margin-bottom: 5px;
}

.blog-heading-title {
    width: 100%;
    /* border:1px solid blue */

}

.all-post-btn {
    margin-right: 0px;
    align-content: center;
    align-items: center;

}



.fixed-height-img {
    height: 270px;
    object-fit: cover;
}



.postButton {
    background-color: #70aa26;
    color: white;
    padding: 5px 20px;
    margin: 20px;
    border: none;
}



.card-inner-text h5 {
    font-size: 21px;
    font-weight: 600;
    font-family: sans-serif;
    padding: 10px 0;
}



/* Footer Section */

.footer-img {
    display: flex;
    justify-content: center;
}
.footer-img img {
    max-height: 200px;
    object-fit: contain;
}
.social-apps {
    display: flex;
    justify-content: center;
    align-items: center;
}
.app-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: #134872;
    border-radius: 50%;
    margin: 5px;
    /* vertical-align: middle; */
}
.app-icon svg {
    display:block;
    height: 60%;
    width: 60%;
}
.foot-sec-heading{
    font-size: 22px;
    font-weight: 600;
}
.foot-sec-list li{
list-style-type:none;
line-height: 2;

}